<!DOCTYPE html>
<html ng-app="redditClone">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Amiko|Roboto+Slab|Slabo+27px" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainController">
     <header>
       <div>
         <h1><a href="/">Reddit2.0</a></h1>
         <a href="" ng-click="toggleCreatePost()" class="btn"><i class="fa fa-plus"></i> Create Post</a>
       </div>
       <div>
         <input id="search" ng-model="searchText" placeholder="Search All Posts">
       </div>
       <select ng-model="sortPostsBy" id="order">
         <option value="" disabled>Sort Posts By...</option>
         <option value="-score">Score (Highest)</option>
         <option value="score">Score (Lowest)</option>
         <option value="-date">Date (Newest)</option>
         <option value="date">Date (Oldest)</option>
         <option value="title">Title (A-Z)</option>
         <option value="-title">Title (Z-A)</option>
       </select>
     </header>

     <main>
       <div class="create-post" ng-show="showcreatepost">
         <form name="formPostName" ng-submit="addPost()" novalidate>
           <h3>Create a New Post</h3>
           <label for="title">Title</label>
           <input id="title" type="text" ng-model="formPost.title" placeholder="Title" required>
           <label for="author">Author</label>
           <input id="author" type="text" ng-model="formPost.author" placeholder="Author" ng-minlength="3" required>
           <label for="content">Description</label>
           <input id="content" type="text" ng-model="formPost.content" placeholder="Description" required>
           <label for="image">Image URL</label>
           <input id="image" type="url" ng-model="formPost.image" placeholder="http://" required>
           <input type="submit" value="Post">
         </form>
         <p ng-show="formPostNa"></p>
       </div>

       <div class="post" ng-repeat="post in posts | orderBy:sortPostsBy | filter:searchText">
         <div class="post-image" style="background-image: url('{{post.image}}');"></div>
         <div class="post-content">
           <div class="post-header">
             <div class="post-title">
               <span class="title">{{$index}} {{post.title}}</span>
             </div>
             <div class="post-arrows">
               <span ng-class="{red: post.score < 0, green: post.score > 1}">{{post.score}}</span> &nbsp;
               <i class="fa fa-arrow-circle-o-up fa-lg" ng-click="post.upvote()"></i>
               <i class="fa fa-arrow-circle-o-down fa-lg" ng-click="post.downvote()"></i>
             </div>
           </div>
           <p>{{post.content}}</p>
           <div class="post-footer accent-text">
             posted by {{post.author}} on {{post.date | date:'EEE, MMM d, y h:mm:ss a'}}
             <div>
               <i class="fa fa-comment-o"></i> <a href="" ng-click="showcomments=true">{{post.comments.length}} <ng-pluralize count="post.comments.length" when="{'1': 'Comment','other': 'Comments'}"></ng-pluralize></a> &nbsp; | &nbsp;
               <i class="fa fa-pencil-square-o"></i> <a href="" ng-click="showcomments=true">Add Comment</a>
             </div>
           </div>

           <div ng-show="showcomments" class="post-comments animate-show">
             <p class="accent-text" ng-click="showcomments=false">
               <div class="collapse accent-text" ng-click="showcomments=false">
                 <span>
                   <i class="fa fa-chevron-up"></i>
                   <a href="">Collapse Comments</a>
                   <i class="fa fa-chevron-up"></i>
                 </span>
               </div>
             </p>
             <p>
               <p ng-repeat="comment in post.comments | orderBy:'comment.date'"><b>{{comment.author}}</b>: {{comment.content}}<br> <span class="accent-text">posted on {{comment.date | date:'EEE, MMM d, y h:mm:ss a'}}</span></p>
             </p>
             <h3>Add a Comment</h3>
             <form name="post.formComment" ng-submit="post.addComment()">
               <label for="commentauthor">Name</label>
               <input id="commentauthor" type="text" ng-model="post.formComment.author" placeholder="Name" required>
               <label for="commentcontent">Comment</label>
               <input id="commentcontent" type="text" ng-model="post.formComment.content" placeholder="Comment" required>
               <input type="submit" value="Post Comment">
             </form>
          </div>
         </div>
       </div>
    </main>

     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
     <script src="app.js"></script>
</body>
</html>
