* {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

a {
  color: #404040;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Amiko', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #404040;
}

header {
  background-color: #efefef;
  padding: 1em;
  border-bottom: 1px solid #dedede;
  display: flex;
  align-items: center;
}

main {
  margin: 1rem;
}

.post {
  background-color: #efefef;
  padding: 1em;
  border: 1px solid #dedede;
  margin: 1.5em auto;
}

.create-post {
  margin-bottom: 2rem;
}

.title {
  font-family: 'Slabo 27px', serif;
  font-size: 2em;
}

header, .post-header, .post-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 600px) {
  header, .post-header, .post-footer {
    display: flex;
    flex-direction: column;;
    /*align-items: flex-start;
    justify-content: space-between;*/
  }
  form {
    margin: auto;
    width: 100%;
  }
}

.accent-text a {
  text-decoration: underline;
  color: #707070;
}
.accent-text a:hover {
  text-decoration: none;
}

.accent-text {
  font-size: 0.65rem;
  color: #707070;
}

.post-comments {
}

h1, h1 a {
  display: inline;
  font-family: 'Slabo 27px', serif;
  font-size: 1.5rem;
  margin: 0 0.5rem 0 0;
  padding: 0;
  color: #404040;
  text-shadow: 1px 1px #FFF;
  text-decoration: none;
}

h2 {
  font-family: 'Slabo 27px', serif;
  font-size: 2em;
  text-shadow: 1px 1px #FFF;
}

h3 {
  font-family: 'Slabo 27px', serif;
  font-size: 1.5em;
}

form {
  margin: auto;
  max-width: 400px;
}

input {
  display: block;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 100%;
}

label {
  font-weight: bold;
}

.animate-show {
  transition: all linear 0.5s;
}



.collapse {
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;}
.collapse:before {
  border-top: 1px dotted #707070;
  content:"";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%; left: 0; right: 0; bottom: 0;
  width: 100%;
  z-index: -1;
}
.collapse span {
  background: #efefef;
  padding: 0 5px;
}

.red {
  color: red;
}

.green {
  color: green;
}

#search {
  display: inline-block;
  width: 10rem;
  margin: 0;
}
